@media screen and (max-width: 1200px) {
    .container {
        margin-left: 15px;
        margin-right: 15px;
    }
    .main_banner .container h1 {
        margin-left: 15px;

    }

    .main_banner .container p {
        margin-left: 15px;
    }

    .relief {
        display: block;
        position: inherit;
        margin: auto;
        padding: 25px 0;
        border-radius: inherit;
    }

    .orange {
        padding-top: 15px;
        padding-bottom: 0px;
        position: inherit;
    }

    .orange h2 {
        margin-left: 15px;

    }

    .gallery_picture {
        display: block;

    }
    .gallery_picture img{
        padding-right: 15px;
    }
    .purple{
        padding-top: 20px;
        padding-bottom: 0px;
        position: inherit;

    }
    .white_purple{
        display: block;
        justify-content: center;
        position: inherit;
        margin: auto;
        padding: 20px 0;
        border-radius: inherit;
    }
    .purple .container{
        max-width: inherit;
       display: inline-flex;
        justify-content: center;
        padding-left: 15px;
    }
@media screen and (max-width: 767px){
  header{
      margin-bottom: 0px;
 }
    .d-flex a{
        margin-left: 15px;
    }
    header nav{
        display: none;
    }
    .main_banner .container{
        display: inherit;
        padding: 0 15px;

    }

    .main_banner .container h1{

        font-size: 26px;
    }
    .main_banner .container p{
        font-size: 12px;
        margin-bottom: 12px;
    }


    .orange{
        padding-top: 15px;
        padding-bottom: 0px;
        position: inherit;
    }
    .orange .container{
        display: inline-block;
        justify-content: center;
        padding-left: 15px;

    }
    .link li{
        display: inline-block;
        list-style-type: none;

    }
    .link li:before{
        display: none;

    }

    .orange h2{
        margin-bottom: 100px;
        text-align: center;
        font-size: 38px;

    }


    .relief{
        display: block;
        position: inherit;
        margin: auto;
        padding: 25px 0;
        border-radius: inherit;
    }
    .content_main{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .content_flex{
        display: block;

    }
    .content_flex .container{
        margin: 0;
    }
    .content_flex .container img{
        max-width: 300px;
    }
    .content_flex h3{
        margin-bottom: 15px;
        font-size: 23px;
    }
    .content_flex p{
        font-size: 12px;

    }
    .gallery_picture{
        display: block;
    }
    .gallery_link{
        padding-bottom: 0px;
    }
    .gallery_picture img{
        padding-right: 15px;
    }
    .white_purple{
        display: block;
        position: inherit;
        margin: auto;
        padding: 20px 0;
        border-radius: inherit;
    }
    .white_purple h4{
        font-size: 21px;
    }

.purple{
    padding-top: 20px;
    padding-bottom: 0px;
    position: inherit;

}
.purple h5{
    padding-top: 30px;

}
.purple .purple_name{
    padding-bottom: 30px;
}
.purple_quotes{
    padding-top: 16px;
    font-size: 46px;
}
.purple_main{
    font-size: 17px;
}
.purple .container{
    display: inline-block;
    justify-content: center;
    padding-left: 15px;
}


}
}
@media screen and (max-width: 431px){
    .form{
        padding: inherit;

    }
    .button{
        padding: 6px 12px ;
    }
}
